.App {
  position: relative;
  text-align: center;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.App-inner,
.App-main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.App-header,
.App-footer,
.App-main {
  position: relative;
}

.RainbowBG {
  position: relative;
  overflow: hidden;
}
.RainbowBG::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -300%;
  bottom: 0;
  left: 0%;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.667) 0%,
    rgba(255, 154, 0, 0.667) 5%,
    rgba(208, 222, 33, 0.667) 10%,
    rgba(79, 220, 74, 0.667) 15%,
    rgba(63, 218, 216, 0.667) 20%,
    rgba(47, 201, 226, 0.667) 25%,
    rgba(28, 127, 238, 0.667) 30%,
    rgba(95, 21, 242, 0.667) 35%,
    rgba(186, 12, 248, 0.667) 40%,
    rgba(251, 7, 217, 0.667) 45%,
    rgba(255, 0, 0, 0.667) 50%,
    rgba(255, 154, 0, 0.667) 55%,
    rgba(208, 222, 33, 0.667) 60%,
    rgba(79, 220, 74, 0.667) 65%,
    rgba(63, 218, 216, 0.667) 70%,
    rgba(47, 201, 226, 0.667) 75%,
    rgba(28, 127, 238, 0.667) 80%,
    rgba(95, 21, 242, 0.667) 85%,
    rgba(186, 12, 248, 0.667) 90%,
    rgba(251, 7, 217, 0.667) 95%,
    rgba(255, 0, 0, 0.667) 100%
  );
  animation-name: rainbow-bg-scroll;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  backface-visibility: hidden;
}
@media (prefers-reduced-motion) {
  .RainbowBG::before {
    animation: none;
  }
}
@keyframes rainbow-bg-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
