.AppHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* color: white; */
  color: rgb(12, 12, 13);
  padding: 2em 0;
  background-color: #fff;
  z-index: 1;
}

.AppHeader-link {
  font-size: 18px;
  min-width: 6em;
  display: block;
}
.AppHeader-logo {
  text-decoration: none;
  max-width: 600px;
  padding: 5px 10px;
}
.AppHeader-logoImg {
  display: block;
  position: relative;
}
.AppHeader-logo .AppLogo-title {
  backface-visibility: hidden;
  transition: 0.2s transform ease;
}
.AppHeader-logo:focus,
.AppHeader-logo:hover {
  text-decoration: none;
}
