.PageHome-headline {
  font-size: 2.5em;
  line-height: 1.5em;
  margin-bottom: 1em;
  font-family: "Lato";
  text-transform: uppercase;
  font-size: 1.333em;
  font-weight: 400;
}
.PageHome-blurb {
  margin-bottom: 1em;
}
.PageHome-section:last-child,
.PageHome-blurb:last-child {
  margin-bottom: 0;
}
.PageHome-section--intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  padding: 5vh 0 10vh;
}
.PageHome-section--intro .SectionMint {
  margin-top: 3em;
}
.PageHome-section--intro .PageHome-sectionMain {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  padding: 0 1em;
}
.PageHome-section--intro .PageHome-blurb {
  display: block;
  padding: 1em;
  background-color: #0a0a0a;
  color: #fff;
  border-radius: 0 0 10px 10px;
  font-family: "Lato";
  font-size: 1.2em;
}
@media only screen and (max-width: 680px) {
  .PageHome-section--intro .PageHome-blurb {
    font-size: 0.8em;
  }
}
.PageHome-section--intro .PageHome-sectionMainInner {
  position: relative;
}
/* .PageHome-section--intro .PageHome-sectionMainInner::before,
.PageHome-section--intro .PageHome-sectionMainInner::after,
.PageHome-section--intro .SectionMint--connected::after {
  content: "";
  z-index: 1;
  display: block;
  position: absolute;
  font-family: "Lato";
  color: #000;
  animation-name: dumb-text;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  backface-visibility: hidden;
}
.PageHome-section--intro .PageHome-sectionMainInner::before {
  content: "SO COOL!";
  right: 0%;
  top: 0%;
  font-size: 24px;
  transform: translate(40%) rotate(16deg);
  animation-name: dumb-text-1;
  animation-duration: 1.324s;
}
.PageHome-section--intro .PageHome-sectionMainInner::after {
  content: "WOW!";
  left: 0%;
  bottom: 20%;
  font-size: 48px;
  transform: translate(-40%) rotate(-16deg);
  animation-name: dumb-text-2;
  animation-duration: 1s;
}
.PageHome-section--intro .SectionMint {
  position: relative;
}
@media only screen and (max-width: 1220px) {
  .PageHome-section--intro .PageHome-sectionMainInner::before,
  .PageHome-section--intro .PageHome-sectionMainInner::after,
  .PageHome-section--intro .SectionMint--connected::after {
    font-size: 20px;
  }
  .PageHome-section--intro .PageHome-sectionMainInner::before {
    display: none;
  }
  .PageHome-section--intro .PageHome-sectionMainInner::after {
    top: -2%;
    bottom: initial;
    left: 8%;
  }
}
@media (prefers-reduced-motion) {
  .PageHome-section--intro .PageHome-sectionMainInner::before,
  .PageHome-section--intro .PageHome-sectionMainInner::after {
    animation: none;
  }
}
@keyframes dumb-text-1 {
  from {
    transform: translate(40%) rotate(16deg) scale(1);
  }
  to {
    transform: translate(40%) rotate(20deg) scale(1.25);
  }
}
@keyframes dumb-text-2 {
  from {
    transform: translate(-40%) rotate(-16deg) scale(1);
  }
  to {
    transform: translate(-40%) rotate(-18deg) scale(1.2);
  }
} */
.PageHome-previewVideo {
  position: relative;
  display: block;
  aspect-ratio: 1.7777777778;
  width: 100%;
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}
.PageHome-section--details {
  position: relative;
  background-color: #fff;
  padding: 5em 0;
  background-color: #0a0a0a;
  color: #fff;
}
.PageHome-section--details .PageHome-headline {
  margin-bottom: 0.5em;
}
.PageHome-section--details .PageHome-sectionMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.PageHome-section--details a,
.PageHome-section--details a:visited {
  color: #fff;
}
.PageHome-section--details .PageHome-sectionInner {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1em;
}
.PageHome-sectionImg img {
  display: block;
  width: 100%;
  border-radius: 10px;
  border: 4px solid #fff;
}
.PageHome-sectionImg--preview {
  display: block;
  margin-bottom: 2em;
}
.PageHome-sectionImg--preview img {
  width: 100%;
  margin: auto;
}
@media only screen and (min-width: 680px) {
  .PageHome-section--details {
    text-align: left;
  }
  .PageHome-sectionImg--preview img {
    min-width: 300px;
  }
  .PageHome-section--details .PageHome-sectionInner {
    display: flex;
  }
  .PageHome-section--details .PageHome-sectionImg {
    margin: 0 2em 0 0;
  }
  .PageHome-section--details .PageHome-sectionMain {
    align-items: flex-start;
  }
  .PageHome-headline {
    font-size: 2em;
    margin-bottom: 1em;
  }
}
