.PageGallery {
  flex: 1;
  display: flex;
}
.PageGallery-inner {
  flex: 1;
  width: 100%;
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 1em;
}
.PageGallery-headline {
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 1.667em;
}
.PageGallery-section {
  margin-bottom: 2.25em;
  margin-top: 2.25em;
}
.PageGallery-sectionHeadline {
  display: block;
  font-size: 0.8em;
  font-weight: 300;
  font-family: "Lato";
  text-transform: uppercase;
  margin-bottom: 0.6em;
}
.PageGallery-inputLabel .PageGallery-sectionHeadline {
  margin-bottom: 1em;
}
.PageGallery-extendedInput {
  border-radius: 8px;
  display: inline-block;
  background-color: #f2f2f2;
}
.PageGallery-extendedInputInner {
  background-color: #f2f2f2;
  padding: 0 1em 0 0.5em;
  font-size: 16px;
}
.PageGallery-input {
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  box-shadow: 0;
}
